body {
	background-color: #ddd;
}

div.navbar span.info {
	color: white;
	float: right;
	margin: 25px;
}

a.edit {
	text-decoration: none;
	color: black;
}

div.content {
	background-color: white;
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	padding: 25px;
	padding-top: 5px;
}

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

table, th, td {
	border: 1px solid black;
	padding: 5px;
}

table.simple, table.simple th, table.simple td {
	border: none;
	padding: 0px;
}

span.button {
	cursor: pointer;
}

table.books th, table.books td {	
	font-size: small;
}

table tr.select:hover td.name a,
table td.highlight {
	color: red;
}

th.rotate, td.rotate {
	writing-mode: sideways-lr;
	width: 20px;
	font-size: small;
}

tr.gray td, tr.gray th {
	background-color: rgb(200, 200, 200);
}

td.demand {
	background-color: rgb(255, 255, 100);
}

input[type=checkbox].selection {
	width: 20px;
	height: 15px;
}

input[type=text].selection {
	width: 8px;
	height: 10px;
	font-size: smaller;
}

input[type=text].short {
	width: 25px;
}

td.critical {
	font-weight: bold;
	background-color: red;
}

td.low {
	font-weight: bold;
	background-color: orange;
}

