body {
	background-color: white;
}

span.button {
	cursor: pointer;
}

th.rotate, td.rotate {
	writing-mode: sideways-lr;
	width: 20px;
	font-size: small;
}

tr.gray td, tr.gray th {
	background-color: rgb(200, 200, 200);
}

input[type=checkbox].selection {
	width: 20px;
	height: 15px;
}

input[type=text].selection {
	width: 8px;
	height: 10px;
	font-size: smaller;
}

td.critical {
	font-weight: bold;
	background-color: red;
}

td.low {
	font-weight: bold;
	background-color: orange;
}

